{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Кириш {% endblock title %}

{% block content %}

 <style>
   .wrap {
    width: 30%;
    background: #fc0;
    margin: 10px;
    padding: 20px;
    border: 1px solid #000;

   }
  </style>
<center>
<h2>Сайтга кириш</h2>
<div class="wrap">
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <button type="submit" class="btn btn-success">Вход</button>
        <a class="btn btn-outline-danger" href="{% url 'password_reset' %}" role="button">Забыли пароль</a>
    </form>
</div>
    </center>
{% endblock content %}