{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Изменение пароля {% endblock title %}

{% block content %}
<style>
   .wrap {
    width: 50%;
    background: #fc0;
    margin: 10px;
    padding: 20px;
    border: 1px solid #000;
   }

</style>
<center>
    <h2>Восстановление пароля, введите Ваш Email</h2>
    <form method="post">
        <div class="wrap">
            {% csrf_token %}
            {{form|crispy}}
        </div>
        <BR>
        <button type="submit" class="btn btn-warning">Отправить</button>
    </form>

</center>
{% endblock content %}